$margin-xs: 0.5rem;
$margin-s: 1.25rem;
$margin-m: 2rem;

$padding-xs: 0.5rem;
$padding-s: 1.25rem;
$padding-m: 2rem;

$player-height: 100px;
$sidebar-width: 300px;

$transition-animation: cubic-bezier(0.075, 0.82, 0.165, 1);
