@import '~@angular/material/theming';
@import './variables';
@import './generatePalette';

@include mat-core();

$primary-dark-map: mat-palette(createPalette($primary-dark));
$accent-dark-map: mat-palette(createPalette($light));
$warn-dark-map: mat-palette(createPalette(purple));
$app-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $primary-dark-map,
      accent: $accent-dark-map,
      warn: $warn-dark-map,
    ),
  )
);

.darkMode {
  @include angular-material-color($app-dark-theme);
}
