h-full {
  height: 100%;
}
flex-1 {
  flex: 1 1 0;
}
bg-yellow-500 {
  background-color: yellow;
}
flex {
  display: flex;
}
flex-col {
  flex-direction: column;
}
h-screen {
  height: 100vh;
}
h-player {
  height: 100px;
}
justify-around {
  justify-content: space-around;
}
items-center {
  align-items: center;
}
w-sidebar {
  width: 300px;
}
