<div class="content">
  <div class="readme">
    <div class="logo" title="" title="Spotify Karaoke Logo"></div>

    <p i18n="login.readme">This is side project</p>
  </div>

  <div class="authorize">
    <h2 i18n="login.authorize_info">Authorize with Spotify</h2>
    {{ error?.message }}
    <button
      mat-raised-button
      (click)="auth()"
      color="accent"
      i18n="login.authorize"
    >
      <div class="button-content">
        <img src="/assets/Spotify_Icon_RGB_White.png" />
        Authorize
      </div>
    </button>
  </div>
</div>
