/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/mixins';

@import 'styles/theme';
@import 'styles/dark-theme';

@import 'styles/scrollbar';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: overlay;
}

/* Set up scrollbar */
a {
  color: var(--on-bg-dark);
  text-decoration: none;
  @include transition(text-decoration);

  &:hover {
    text-decoration: underline;

    mat-icon {
      color: $primary-dark;
      @include transition(color);
    }
  }
}
